<p>wishlist-event works!</p>
<div class="container mt-4">
    <h2>Wishlist</h2>
    <hr>
    <div *ngIf="events.length > 0; else noEvents">
        <div class="card mb-3" *ngFor="let event of events">
            <div class="card-header">
                {{ event.name }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ event.venue }}</h5>
                <p class="card-text">{{ event.description }}</p>
                <p class="card-text">Date: {{ event.date_time | date }}</p>
                <p class="card-text">Seats Available: {{ event.seats_available }}</p>
                <button class="btn btn-danger">Remove from Wishlist</button>
            </div>
        </div>
    </div>
    <ng-template #noEvents>
        <p>Your wishlist is empty.</p>
    </ng-template>
</div>